.leftbar {
  flex: 2;
  background-color: #f0f0f0;
  position: sticky;
  top: 80px;
  height: calc(100vh - 80px);
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .container {
    padding: 20px;

hr {
  margin: 10px 0px;
  border: none;
  height: 2px;
  background-color: #1a1a1a13;

}

    .menu {
      display: flex;
      flex-direction: column;
      gap: 15px;

      span {
        font-size: 12px;
      }

      .item {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px;
        transition: 0.4s all ease-out;

        img {
          width: 30px;
          height: 30px;
          pointer-events: none;
          user-select: none;
        }

        span {
          font-size: 14px;
          color: #1A1A1A;
        }
      }

      .item:hover {
        transform: translateY(-5px);
        box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background-color: #e7e7e7;
        cursor: pointer;
        transition: 0.4s all ease-in;

        span {
          font-weight: 600;
          color: #1A1A1A;
        }
      }
    }
  }
}
