.rightbar {
  flex: 3;
  background-color: rgb(231, 239, 246);
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .container {
    padding: 20px;

    .item {
      -webkit-box-shadow: 2px 1px 41px -14px rgba(0,0,0,0.75);
      -moz-box-shadow: 2px 1px 41px -14px rgba(0,0,0,0.75);
      box-shadow: 2px 1px 41px -14px rgba(0,0,0,0.75);
      padding: 30px;
      
      span {
        color: gray;
        padding: 18px;
      }

      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .userInfo {
          display: flex;
          gap: 10px;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          padding: 10px;
        }
        
        span {
          color: black;
        }

        .buttons {
          display: flex;
          align-items: center;
          gap: 10px;

          button {
            border: none;
            padding: 5px;
            color: white;
            cursor: pointer;
            border-radius: 5px;

            &:first-child {
              background-color: #687864;
            }

            &:last-child {
              background-color: #B23850;
            }
          }
        }
      }
    }
  }
}