.leftbar {
  background-color: rgb(231, 239, 246);
  padding: 10px;
  border-radius: 15px;

  .container {
    padding: 20px;

hr {
  margin: 20px 0px;
  border: none;
  height: 0.5px;
  background-color: lightgrey;

}

    .menu {
      display: flex;
      flex-direction: column;
      gap: 15px;

      span {
        font-size: 12px;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: rgba(240, 248, 255, 0.494);
        padding: 10px;
        border-style: solid;
        border-color: rgb(217, 240, 240);
        border-radius: 15px;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          font-size: 14px;
        }
      }

      .item {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 30px;
          height: 30px;
        }

        span {
          font-size: 14px;
        }
      }
    }
  }
}
