.navbar {
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 20px;
height: 50px;
background-color: #faf8f1;
border-top: 1px solid lightgray;
position: fixed;
bottom: 0;
left: 0;
right: 0;

  .left {
    display: flex;
    align-items: center;
    gap: 30px;

    span {
      font-weight: bold;
      font-size: 20px;
      color: #E85A4F;
    }

    .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 5px;

        input {
          border: none;
          width: 500px;
          background-color: #faf8f1;
        }

    }

  }

  .right {
    display: flex;
    align-items: center;
    gap: 20px;

    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;

      img {

      }

      span {

      }

    }

  }

}